.wp-block-jobster-plugin-job-locations {
    background-color: #f5f7fa;
    padding: 20px;
    border: 1px dotted #888;
}
.wp-block-jobster-plugin-job-locations .job-locations-placeholder-img {
    background: url(../images/job-locations-block.png) no-repeat scroll center center;
    background-size: contain;
    height: 156px;
}
.wp-block-jobster-plugin-job-locations .job-locations-placeholder-header,
.wp-block-jobster-plugin-job-locations .job-locations-placeholder-subheader {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-top: 0;
}
.wp-block-jobster-plugin-job-locations .job-locations-placeholder-header {
    margin-bottom: 0;
}
.wp-block-jobster-plugin-job-locations fieldset span.components-base-control__label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    padding-bottom: 4px;
}
.wp-block-jobster-plugin-job-locations .pxp-form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-.5 * 1.5rem);
    margin-left: calc(-.5 * 1.5rem);
    box-sizing: border-box;
}
.wp-block-jobster-plugin-job-locations .pxp-form-col,
.wp-block-jobster-plugin-job-locations .pxp-form-col-2,
.wp-block-jobster-plugin-job-locations .pxp-form-col-4,
.wp-block-jobster-plugin-job-locations .pxp-form-col-8 {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    box-sizing: border-box;
}
@media (min-width: 576px) {
    .wp-block-jobster-plugin-job-locations .pxp-form-col {
        flex: 0 0 auto;
        width: 50%;
    }
    .wp-block-jobster-plugin-job-locations .pxp-form-col-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .wp-block-jobster-plugin-job-locations .pxp-form-col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .wp-block-jobster-plugin-job-locations .pxp-form-col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}
.wp-block-jobster-plugin-job-locations .locations-list-title {
    font-weight: bold;
}
.wp-block-jobster-plugin-job-locations .locations-list-header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.wp-block-jobster-plugin-job-locations .locations-list-new-form {
    display: none;
}
.wp-block-jobster-plugin-job-locations .locations-list-new-upload {
    width: 100%;
    height: 125px;
    background: #fff;
    border: 1px solid #e2e4e7;
    text-align: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.wp-block-jobster-plugin-job-locations .locations-list-add-btn, 
.wp-block-jobster-plugin-job-locations .locations-list-cancel-btn {
    margin-right: 5px;
    margin-top: 10px;
}
.wp-block-jobster-plugin-job-locations .locations-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wp-block-jobster-plugin-job-locations .locations-list-container ul li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    background: #fff;
    border: 1px solid #e2e4e7;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.wp-block-jobster-plugin-job-locations .locations-list-container ul li:last-child {
    margin-bottom: 10px;
}
.wp-block-jobster-plugin-job-locations .locations-list-item-img {
    width: 100%;
    height: 60px;
    border: 1px solid #e2e4e7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.wp-block-jobster-plugin-job-locations .locations-list-item {
    font-weight: 600;
    margin-top: 18px;
}
.wp-block-jobster-plugin-job-locations .locations-list-container ul li a {
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 18px;
}